<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credit Card fraud</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <div class="hero">
        <h1>Credit Card Fraud detection</h1>
    </div>
    <div>
        <form class="form" action="{{url_for('predict')}}" method="POST">
            <div class="input">
                <h2>RELIABLE BANK</h2>
                <h3>Credit Card</h3>
                <img src="/static/images.png" alt="credit chip">
                <Span>XXXX XXXX XXXX 2020</Span>
                <div>
                    <input  type="text" id="Time" class="input-box1" name="Time" placeholder="Enter Time">
                    <input type="text" id="Amount" class="input-box2"  name="Amount"placeholder="Enter Amount">
                    <input type="text" id="Transaction" class="input-box3"  name="Transaction"placeholder="Enter Transaction">
                </div>
                <button class="button" type="submit" >Predict</button> 
                <div class="dgn">
                    <p>DETECTION</p>
                </div> 
                <div class="result"><p>{{prediction_text}}</p></div>
            </div>
            
          
         
           
        </form> 
            
    </div>
</body>
</html>